<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaixiang.module.user.repository.UserMapper">

    <resultMap id="UserMap" type="com.kaixiang.module.user.entity.User">
        <id column="id" javaType="java.lang.Integer"/>
    </resultMap>

    <select id="find" resultType="com.kaixiang.module.user.entity.User">
        SELECT * FROM user where id = #{id}
    </select>
    <select id="findByEmail" resultType="com.kaixiang.module.user.entity.User">
        SELECT * FROM user where email = #{email}
    </select>
    <select id="findByUuid" resultType="com.kaixiang.module.user.entity.User">
        SELECT * FROM user where uuid = #{uuid}
    </select>

    <insert id="create" parameterType="com.kaixiang.module.user.entity.User">
        insert into user(uuid, email, nickname, password, active_status, source)
        values (#{uuid}, #{email}, #{nickname}, #{password}, #{activeStatus}, #{source})
    </insert>

    <select id="countByEmailOrNickName" resultType="java.lang.Integer">
        SELECT count(id) FROM user where email = #{email} or nickname = #{nickName}
    </select>

</mapper>