<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaixiang.module.user.repository.UserMapper">

<!--    <resultMap id="UserMap" type="com.kaixiang.module.user.entity.User">-->
<!--        <id column="id" javaType="java.lang.Integer"/>-->
<!--        <association property="uuid" javaType="java.util.UUID" typeHandler="org.apache.ibatis.type.StringTypeHandler"/>-->
<!--    </resultMap>-->

    <select id="find" resultType="com.kaixiang.module.user.entity.User">
        SELECT * FROM user where id = #{id}
    </select>
    <select id="findByEmail" resultType="com.kaixiang.module.user.entity.User">
        SELECT * FROM user where email = #{email}
    </select>
    <insert id="create" parameterType="com.kaixiang.module.user.entity.User">
        insert into user(uuid, email, nickname, password, active_status, source)
        values (#{uuid}, #{email}, #{nickname}, #{password}, #{activeStatus}, #{source})
    </insert>
</mapper>